<% provide(:title, "Log in") %>
<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>

<table>
    <Tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
    </Tr>
    
    <Tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
    </Tr>
    <tr>
        <td colspan="2"><%= f.submit "Log In" %></td>
    </tr>
</table>

<% end %>

<p>New User? <%= link_to "Sign Up now!", signup_path %></p>
